# 可参考： https://hub.docker.com/_/mysql
version: '3'
services:
  mysql:
    image: mysql:8.0  # 原镜像`mysql:8.0`
    container_name: mysql                                      # 容器名为'mysql8.0'
    volumes:                                                      # 数据卷挂载路径设置,将本机目录映射到容器目录
      - mysql:/var/lib/mysql
      # 初始化目录挂载
      - "./mysql8.0/init/:/docker-entrypoint-initdb.d/"
    environment:                        # 设置环境变量,相当于docker run命令中的-e
      MYSQL_ROOT_PASSWORD: root         # 设置root用户密码
      MYSQL_DATABASE: demo              # 初始化的数据库名称
    ports:                              # 映射端口
      - "3306:3306"
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.10.6-management        # 原镜像`rabbitmq:3.7.8-management` 【 注：该版本包含了web控制页面 】
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
  redis:
    image: redis:7.0.3                    # 镜像'redis:6.0.8'
    container_name: redis                                                             # 容器名为'redis'
    restart: unless-stopped                                                                   # 指定容器退出后的重启策略为始终重启，但是不考虑在Docker守护进程启动时就已经停止了的容器
    command: redis-server /etc/redis/redis.conf --requirepass 123456 --appendonly no # 启动redis服务并添加密码为：123456,默认不开启redis-aof方式持久化配置
    #    command: redis-server --requirepass 123456 --appendonly yes # 启动redis服务并添加密码为：123456,并开启redis持久化配置
    environment: # 设置环境变量,相当于docker run命令中的-e
      TZ: Asia/Shanghai
      LANG: en_US.UTF-8
    volumes: # 数据卷挂载路径设置,将本机目录映射到容器目录
      - "./redis/data:/data"
      - "./redis/config/redis.conf:/etc/redis/redis.conf"  # `redis.conf`文件内容`http://download.redis.io/redis-stable/redis.conf`
  #    ports: # 映射端口
  #      - "6379:6379"
  nacos:
    image: nacos/nacos-server:v2.1.0-slim
    container_name: nacos
    env_file:
      - ./Nacos/nacos-standlone-mysql.env
    volumes:
      - ./Nacos/standalone-logs/:/home/nacos/logs
      - ./Nacos/init.d/custom.properties:/home/nacos/init.d/custom.properties
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9555:9555"
    depends_on:
      - mysql

volumes:
  rabbitmq:
    driver: local
  mysql:
    driver: local